body {
    background-color: #19181a;  
    color: #b19f9e; 

    /* Use vh instead of vw since a screen's height will be more valuable real estate. */
    /* 40 em is total screen height. */
    font-size: 2.5vh; 
    font-weight: bold;
}

.lineWrapper {
    width: 100%;
}

#currentDetails {
    position: absolute;
    top: 25px;
    left: 0px;
    z-index: 89;
    height: 60px;
}

#currentWeather {
    display: block;
}

.modalContent {
    width: 100%;
    height: 100%;
    padding: 75px;
    overflow-y: auto;
    box-sizing: border-box;
}

.buttonWrapper {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 90vw;
    left: 5vw;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(25, 24, 26, .5);
}

.buttonWrapper .processing {
    color: #cebc81;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
}

.button {
    height: 30px;
    border-radius: 7px;
    padding: 0 10px;
    cursor: pointer;
    background-color: #b19f9e;
    color: #19181a;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 0 20px;
}

.extension {
    background-color: rgba(25, 24, 26, .5);
    padding: 5px;
    box-sizing: border-box; 
}

.button.big {
    min-width: 200px;
    height: 40px;
    margin: 0 15px;
    font-size: 20px;
    line-height: 40px;
}

.button.denial {
    background-color: #a16e83;
}

.button.approval {
    background-color: #479761;
}

.button .header {
    vertical-align: top;
    display: inline-block;
}

.right-align { 
    text-align: right;
    width: 50%;
}

.left-align { 
    text-align: left;
    width: 50%;
}

.error {
    padding: 20px;
    color: #a16e83;
}

.errorWrapper {
    width: 200px;
}

.inline { 
    display: inline-block;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

#clock {
    padding-left: 30px;
    z-index: 100;
}

#currentWeather {
    z-index: 89;
}

#currentWeather .lineWrapper {
    height: 2.5em;
}

#currentWeather #locationsDetails .lineWrapper {
    height: 4em;
    max-height: 50px;
    margin-bottom: 1.5em;
}

#currentWeather .header {
    font-size: 2.3em;
    line-height: 0px;
    margin: 1em 0 .5em 30px;
    color: #cebc81;

}

#currentWeather .weatherIcon {
    margin: 0 1em 0 30px; 
    height: 100%;

}

#currentWeather .subtitle {
    font-size: 1.3em;
    line-height: 50px;
    vertical-align: top;
}

#weatherForecast {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 89;
    overflow: hidden;

    /* Padding is handled in each item */
    padding: 0;
}

#weatherForecast .weatherForecastItem {
    height: 5em;
    box-sizing: border-box;
    position: relative;
    display: block;
}

#weatherForecast .weatherForecastItem:not(:last-child) {
    border-bottom: 2px solid #a16e83;
}

#weatherForecast .weatherForecastItem .itemWrapper {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: .9em 1em;
    min-width: 75px;
    
}

#weatherForecast .weatherForecastItem .itemWrapper img {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#weatherForecast .weatherForecastItem .itemWrapper .header {
    font-size: 1.75em;
}

#weatherForecast .weatherForecastItem .itemWrapper .subtitle {
    font-size: 1em;
}

#clock .header {
    font-size: 2.5em;
    font-weight: bold;
    color: #479761;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

#clock .header div {
    display: inline;
}

#clock .subtitle {
    font-size: 1.25em;
    color: #cebc81;
}

#verse {
    position: absolute;
    bottom: 0px;
    z-index: 89;
    padding: 10px 0;
    left: 35vw;
    width: 30vw;
}

#verse .wrapper {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

#verse .wrapper .quote {
    width: 100%;
    font-size:19px;
    text-align: center;
    font-weight: bold;
    color: #cebc81;
}

#verse .wrapper .reference {
    max-width: 90%;
    text-align: right;
    float: right;
    font-size: 16px;
    /* color: #ffffff; */
}

#photo {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;

}

#photo .header {
    margin-top: 50px;
}

#photo .dimmer {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .3);
    z-index: 5;
}

#photo .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#photo img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    filter: brightness(100%);
    max-width: 100%;
    max-height: 100%;
}


#settings #settingsButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20;
}

#settings #settingsButton img {
    width: 16px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}


#settingsModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    background-color: #19181a;
    text-align: center;
}

#settingsModal .extensionHeader{
    font-size: 32px;
    color: #cebc81;
    display: inline-block;
    padding: 5px 20px;
    border-bottom: 5px solid #b19f9e;
    border-radius: 0 0 7.5px 7.5px;
}

#settingsModal .extensionSubheader {
    font-size: 24px;
    margin-top: 20px;
}

#settingsModal .extensionContentWrapper {
    padding: 25px 75px;

}

#settingsModal .extensionContentWrapper label {
    font-size: 20px;
    display: block;
}

#settingsModal .extensionContentWrapper label div { 
    display: inline-block;
}

#settingsModal .extensionContentWrapper label:not(:first-child) {
    margin-top:20px;
}

#settingsModal .extensionContentWrapper label input {
    margin-left: 20px;
}