body {
    background-color: #19181a;  
    color: #b19f9e;
}

/* a16e83 */
/* cebc81 */

.lineWrapper {
    width: 100%;
}

#currentDetails {
    position: absolute;
    top: 25px;
    left: 0px;
    z-index: 89;
    /* width: 300px; */
    height: 60px;
}

.currentDetailsContent {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#currentWeather {
    width: 100%;
}

.inline { 
    display: inline-block;
}

#clock {
    width: 100%;
    margin-left: 30px;
}

#currentWeather .header {
    font-size: 2em;
    line-height: 0px;
    margin: 40px 0 5px 30px;
    color: #cebc81;

}

#currentWeather .weatherIcon {
    margin: 0 30px 20px 30px; 
    height: 40px;
    width: 40px; 
}

#currentWeather .subtitle {
    font-size: 1.5em;
    line-height: 100px;
    vertical-align: top;
    /* color: #a16e83; */
}

#currentWeather .subtitle2 {
    font-size: 1em;
    line-height: 40px;
    vertical-align: top;
    /* color: #a16e83; */
}

#clock .header {
    font-size: 2em;
    font-weight: bold;
    color: #479761;
    /* 61892f */

}

#clock .header .hidden {
    visibility: hidden;
}

#clock .header div {
    display: inline;
}

#clock .subtitle {
    font-size: 1.25em;
    color: #cebc81;
}

#verse {
    position: absolute;
    bottom: 30px;
    width: 99%;
    z-index: 89;
}

#verse .wrapper {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

#verse .wrapper .quote {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#verse .wrapper .reference {
    max-width: 90%;
    text-align: right;
    float: right;
}

#photo {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#photo .dimmer {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .3);
    z-index: 5;
}

#photo .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#photo  img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    filter: brightness(55%);
    max-width: 95%;
    max-height: 95%;
}
